body {
    /* box-sizing: border-box; */
    font-family: 'Ubuntu',
        sans-serif;
}

.container {
    width: 700px;
    text-align: center;
}

.container .banner {
    margin-top: -22px;
    margin-left: -8px;
    height: 150px;
    width: 1349px;
    background-color: rgb(12, 138, 255);
    box-shadow: 0 15px 15px -10px rgba(14, 13, 13, 0.452);
}

.container .banner h1 {
    color: white;
    padding-top: 55px;
}

tr {
    text-align: center;
}

tbody>tr:not(:nth-child(2n)) {
    background-color: #eee;
}

th {
    font-size: 125%;
    padding-bottom: 10px;
}

td {
    padding: 15px;
}

td:not(:first-child) {
    text-align: right;
}

table {
    padding-left: 380px;
    margin-top: 40px;
}